@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.bg-blue {
    background: #1E71FF;
}

.chat {
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
}

.app {
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 275;
}

.btn {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 111px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 210px;
    background: rgba(255, 255, 255, 0.20);
    border: none;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between
}

.gap-30 {
    gap: 30px;
}

.align-items-center {
    align-items: center;
}

.text {
    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pt-42 {
    padding-top: 42px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.pt-225 {
    padding-top: 225px;
}

.h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 75px;
    font-style: normal;
    font-weight: 600;
}

.para-1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pt-20 {
    padding-top: 20px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-1 {
    color: #1E71FF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 172px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FFF;
    border: none;
}

.pt-60 {
    padding-top: 60px;
}

.btn-2 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-shrink: 0;
    background: #1E71FF;
    border-radius: 60px;
    border: 1px solid #FFF;
    width: 172px;
    height: 50px;
    flex-shrink: 0;
}

.pt-146 {
    padding-top: 146px;
}

.pb-370 {
    padding-bottom: 370px;
}

.pb-160 {
    padding-bottom: 160px;
}

.h2 {
    color: #2B353E;
    text-align: center;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
}

.pt-90 {
    padding-top: 90px;
}

.para-2 {
    color: rgba(43, 53, 62, 0.70);
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 566px;
}

.justify-content-center {
    justify-content: center;
}

.bg-sky {
    background: rgba(30, 113, 255, 0.10);
}

.pt-126 {
    padding-top: 126px;
}

.heading {
    color: #2B353E;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 128.4%;

}

.pt-166 {
    padding-top: 166px;
}

.pl-150 {
    padding-left: 150px;
}

.para-3 {
    color: rgba(43, 53, 62, 0.70);
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 161.7%;
    width: 465px;
}

.pr-30 {
    padding-right: 30px;
}

.btn-3 {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 167px;
    height: 50px;
    border-radius: 60px;
    background: #1E71FF;
    border: none;
}

.btn-4 {
    color: #1E71FF;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 169px;
    height: 50px;
    border-radius: 60px;
    border: 1px solid #1E71FF;
}

.para-4 {
    color: rgba(43, 53, 62, 0.70);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 161.7%;
    width: 274px;
}

.span {
    color: rgba(43, 53, 62, 0.70);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 161.7%;
    width: 274px;
}

.pb-209 {
    padding-bottom: 209px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.chat-1 {

    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    color: #1E71FF;
}

.pl-100 {
    padding-left: 100px;
}

.app-1 {

    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 275;
    color: #1E71FF;
}

.para-5 {
    width: 168px;
    color: rgba(43, 53, 62, 0.70);
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 161.7%;

}

.pt-18 {
    padding-top: 18px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.font {
    color: rgba(43, 53, 62, 0.70);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.font-1 {
    color: #2B353E;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-12 {
    padding-bottom: 12px;
}

.col-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;
}

.lastline {
    color: rgba(43, 53, 62, 0.70);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
    left: 0;
    top: 124px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.w-100 {
    width: 100%;
}

@media (max-width:992px) {
    label[for="menubar"] {
        display: flex;
        width: 30px;
        height: 25px;
        flex-direction: column;
        z-index: 3;
        cursor: pointer;
        justify-content: space-between;
    }

    label[for="menubar"]>span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        width: 5px;
        height: 100%;
        z-index: 2;
        cursor: pointer;

    }

    label[for="menubar"]>span {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background: white;
    }


    .z-index {
        z-index: 1;
    }

    .mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: black;
        flex-direction: column;
        z-index: 2;
        transition: all 200ms linear;
    }

    input[type="checkbox"][id="menubar"]:checked+ul.mobile-view {
        left: 0;
        pointer-events: all;
        opacity: 1;
    }
}

@media (min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width:768px) {
    .col-md-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .col-lg-9{
        width:75%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .pt-lg-0{
        padding-top: 0px;
    }

}